#content_window {
  display: block;
  margin: 0 0 0 200px;
  padding: 30px 20px 30px 40px;

  @media screen and (max-width: 700px) {
    padding: 50px 0 30px 0;
    margin: 0;
  }

  #header {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      display: inline-block;
      line-height: 1;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    #rss_button {
      background-color: transparent;
      outline: none;
      border: none;
      color: black;
      cursor: pointer;
      text-decoration: none;
      line-height: 0;
      padding: 10px;
      margin: 0;
    }
  }

  post-snippet {
    @include box_shadow(1);
    display: block;
    padding: 10px 15px 20px 20px;
    margin: 0 auto 15px auto;
    background-color: white;
    max-width: 800px;
  }

  post, disqus, about-me {
    @extend post-snippet;
  }

  #recent_posts_header {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;

    h2 {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }

  #loading_header {
    @extend #recent_posts_header;
  }
}
